* {
    outline: none;
    text-rendering:  optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font;
    color: #333;
}

h1 {
    color: $primary-color;
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h5, h6 {
    text-transform: uppercase;
}

.smash-container {
    background: $background-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    .smash-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        height: $header-height;
        color: #fff;
        line-height: $header-height;

        display: -ms-flexbox;
        display: flex;

        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -ms-flex-align: center;
        align-items: center;

        &>* {
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        .smash-title {
            display: inline-block;
            padding: 0 10px 0 0;
        }

        .smash-navigation {
            float: right;
        }
    }

    .smash-navigation {

        display: table;
        line-height: #{($header-height)-2};

        .smash-item {
            display: table-cell;
            font-family: $font;
            font-size: 12px;
            text-transform: uppercase;
            padding: 0 20px;
            cursor: pointer;
            position: relative;
            // min-width: 100%;

            .material-icons {
                font-size: 20px;
                position: relative;
                top: 5px;
            }

            &.smash-has-dropdown {

                &:after {
                    font-family: 'Material Icons';
                    font-style: normal;
                    font-weight: 400;
                    content: "\E313";
                    position: relative;
                    top: 2px;
                    color: rgba(255,255,255,0.5);
                }

                .smash-dropdown {
                    color: #000;
                    background: #fff;
                    position: absolute;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    width: auto;
                    min-width: 140px;
                    right: 0;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
                    top: $header-height;
                    display: none;
                    li {
                        padding: 0 20px;
                        &:hover {
                            background: $light-hover-color;
                        }
                    }
                }
            }

            &:hover {
                .smash-dropdown {
                    display: block;
                }
                &:after {
                    color: #fff;
                }
            }
        }
    }

    .smash-title {
        font-family: $font;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        font-weight: normal;
        margin: 0;
    }

    .smash-workspace {
        position: absolute;
        background: $workspace-color;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        &.has-header {
            top: $header-height;
        }
    }
}

.smash-spacer {
    transition: all .5s;
    min-width: 20px;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.smash-button {
    margin-top: 18px;
    padding: 0 15px;
    color: #666;
    background: #fff;
    border: 1px solid #aaa;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    height: 32px;
    font-family: $font;
    font-size: $font-size - 1px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    transition: all .5s;
    box-shadow: $light-shadow;
    cursor: pointer;
    &:disabled {
        box-shadow: none;
        @include opacity(0.5);
        cursor: default;
    }
    &:hover {
        color: #333;
        &.colored {
            color: $colored-button-color-hover;
            text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        }
        &:disabled {
            color: #666;
        }
    }
    &.colored {
        border-color: rgba(0,0,0,0.05);
        color: $colored-button-color;
        background: $primary-color;
    }
    &.no-shadow {
        box-shadow: none;
    }
    &.borderless {
        border-color: rgba(0,0,0,0.0);
        color: $primary-color;
        background: none;
        box-shadow: none;
        &:hover {
            background: $light-hover-color;
        }
    }
}

.is-focussed .smash-spacer {
    -webkit-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.is-focussed .smash-searchbox {
    -webkit-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.is-focussed .smash-searchbox .material-icons {
    color: #999
}

.is-focussed .smash-searchbox input {
    color: #333;
    background: hsla(0, 0%, 100%, .9)
}

.is-focussed .smash-searchbox input::-webkit-input-placeholder {
    color: #999
}

.is-focussed .smash-searchbox input:-moz-placeholder, .is-focussed .smash-searchbox input::-moz-placeholder {
    color: #999
}

.is-focussed .smash-searchbox input:-ms-input-placeholder {
    color: #999
}

.smash-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    overflow: hidden;
    background: $workspace-color;
    border-right: $border;
    transition: all 0.3s;
    z-index: 18;

    &.is-unlocked:hover {
        width: 200px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        border-right: 1px solid #bbb;
    }

    i {
        width: 40px;
        line-height: 38px;
        text-align: center;
        color: $sidebar-color;
        font-size: 20px;
        transition: all 0.3s;

        &.fa {
            font-size: 16px;
        }

        &.lock {
            position: absolute;
            bottom: 0;
            &::before {
                content: "\E898";
            }
            &:hover {
                color: $primary-color;
                &::before {
                    content: "\E899";
                }
            }
        }
        &.unlock {
            &::before {
                content: "\E899";
            }
            &:hover {
                color: $primary-color;
                &::before {
                    content: "\E898";
                }
            }
        }
    }
    ul {
        padding: 5px 0 0;
        margin: 0;
        min-width: 200px;
        li {
            cursor: pointer;
            &:hover {
                background: $light-hover-color;
                color: $primary-color;
                text-shadow: 0 1px 1px rgba(255,255,255,0.5);
                i {
                    color: #1a1a1a;
                }
            }
            span {
                font-family: $font;
                font-size: 11px;
                text-transform: uppercase;
                vertical-align: top;
                line-height: 40px;
                font-weight: bold;
            }
        }
    }
}

.smash-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

.has-sidebar {
    .smash-panel {
        left: 40px;
    }
}

.smash-input, .smash-textarea, .smash-select {
    margin-top: 18px;
    background: #fff;
    border: 1px solid #aaa;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    height: 30px;
    width: 180px;

    &.size-3-1 {
        width: 118px;
    }

    &.size-3-2 {
        width: 242px;
    }

    &.size-2-1 {
        width: 180px;
    }

    &.size-2-2, &.size-3-3 {
        width: 366px;
    }

    input, textarea {
        font-family: $font;
        font-size: $font-size;
        font-weight: normal;
        background: none;
        border: none;
        line-height: 18px;
        margin: 0;
        padding: 6px 10px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    select {
        display: none;
    }

    label {
        position: absolute;
        font-family: $font;
        font-weight: normal;
        font-size: $font-size;
        top: 8px;
        left: 12px;
        color: rgba(0,0,0,0);
        visibility: hidden;
        transition: all 0.2s;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);

        &.show {
            visibility: visible;
            font-size: 11px;
            top: -16px;
            left: 4px;
            color: rgba(0,0,0,0.3);
        }
    }
}

.smash-textarea {
    height: auto;
}

.smash-select {
    &:after {
        font-family: "Material Icons";
        font-size: 16px;
        color: #999;
        content: "\E313";
        position: absolute;
        right: 8px;
        top: 8px;
    }

    ul {
        position: absolute;
        top: 30px;
        left: -1px;
        width: 100%;
        border: 1px solid #aaa;
        background: #fff;
        box-shadow: $light-shadow;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        z-index: 2;
        max-height: 200px;
        overflow-y: scroll;

        li {
            font-family: $font;
            font-weight: normal;
            font-size: $font-size;
            padding: 8px 10px;
            color: #999;
            cursor: pointer;

            &:hover {
                color: #333;
                background: $light-hover-color;
            }
        }
    }

    &.is-focussed {
        ul {
            display: block;
        }
    }
}

.smash-checkbox {
    cursor: pointer;
    margin: 10px 0 0;
    font-family: $font;
    font-size: $font-size;
    line-height: 28px;
    display: inline-block;

    input {
        display: none;
    }

    .label {
        margin: 2px 4px 2px 20px;
    }

    .checks {
        position: relative;
        i {
            position: absolute;
            top: -1px;
            left: 0;
            font-size: 16px;
            color: #666;
            &.checked {
                color: $primary-color;
                @include opacity(0);
                transition: all 0.3s;
            }
        }
    }

    &.checked {
        i.checked {
            @include opacity(1);
        }
    }
}
