* {
    outline: none;
    text-rendering:  optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.smash-container {
    background: $background-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .smash-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        height: $header-height;
        color: #fff;
        line-height: $header-height;

        display: -ms-flexbox;
        display: flex;

        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        box-sizing: border-box;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -ms-flex-align: center;
        align-items: center;

        &>* {
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        .smash-title {
            display: inline-block;
            padding: 0 10px 0 0;
            i {
                position: relative;
                top: 6px;
                width: 40px;
                text-align: center;
                margin-right: 5px;
                color: $highlight-color;
            }
        }

        .smash-navigation {
            float: right;
        }
    }

    .smash-navigation {

        display: table;
        line-height: #{($header-height)-2};

        .smash-item {
            display: table-cell;
            font-family: $header-font;
            font-size: 12px;
            text-transform: uppercase;
            padding: 0 20px;
            cursor: pointer;
            position: relative;
            min-width: 100%;

            .material-icons {
                font-size: 20px;
                position: relative;
                top: 5px;
            }

            &.smash-has-dropdown {

                &:after {
                    font-family: 'Material Icons';
                    font-style: normal;
                    font-weight: 400;
                    content: "\E313";
                    position: relative;
                    top: 2px;
                    color: rgba(255,255,255,0.5);
                }

                .smash-dropdown {
                    color: #000;
                    background: #fff;
                    position: absolute;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    width: auto;
                    min-width: 140px;
                    right: 0;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
                    top: $header-height;
                    display: none;
                    li {
                        padding: 0 20px;
                        &:hover {
                            background: $light-hover-color;
                        }
                    }
                }
            }

            &:hover {
                .smash-dropdown {
                    display: block;
                }
                &:after {
                    color: #fff;
                }
            }
        }
    }

    .smash-title {
        font-family: $header-font;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0;
    }

    .smash-workspace {
        position: absolute;
        background: $workspace-color;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        box-sizing: border-box;
        &.has-header {
            top: $header-height;
        }
    }
}

.smash-spacer {
    transition: all .5s;
    min-width: 20px;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.smash-searchbox {
    padding: 0;
    margin: 0 20px;
    position: relative;
    width: 200px;
    transition: all .5s;

    .material-icons {
        position: absolute;
        font-size: 18px;
        top: 4px;
        left: 10px;
        margin: 0;
    }

    input {
        font: 13px/14px Roboto, sans-serif;
        border-radius: 2px;
        padding: 6px 8px 6px 36px;
        margin: 0;
        vertical-align: text-bottom;
        background: hsla(0, 0%, 100%, .2);
        border: none;
        color: #fff;
        outline: none;
        width: 100%;
        transition: all .5s
    }
}

.smash-searchbox input::-webkit-input-placeholder {
    color: #fff;
    padding-top: 1px
}

.smash-searchbox input:-moz-placeholder, .smash-searchbox input::-moz-placeholder {
    color: #fff;
    padding-top: 1px
}

.smash-searchbox input:-ms-input-placeholder {
    color: #fff;
    padding-top: 1px
}

.is-focussed .smash-spacer {
    -webkit-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.is-focussed .smash-searchbox {
    -webkit-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.is-focussed .smash-searchbox .material-icons {
    color: #999
}

.is-focussed .smash-searchbox input {
    color: #333;
    background: hsla(0, 0%, 100%, .9)
}

.is-focussed .smash-searchbox input::-webkit-input-placeholder {
    color: #999
}

.is-focussed .smash-searchbox input:-moz-placeholder, .is-focussed .smash-searchbox input::-moz-placeholder {
    color: #999
}

.is-focussed .smash-searchbox input:-ms-input-placeholder {
    color: #999
}

.smash-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    overflow: hidden;
    background: $workspace-color;
    border-right: 1px solid #ccc;
    transition: all 0.3s;
    z-index: 1;

    &.is-unlocked:hover {
        width: 200px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        border-right: 1px solid #bbb;
    }
    i {
        width: 40px;
        line-height: 38px;
        text-align: center;
        color: $icon-color;
        font-size: 20px;

        &.fa {
            font-size: 16px;
        }

        &.lock {
            position: absolute;
            bottom: 0;
            &::before {
                content: "\E898";
            }
            &:hover {
                &::before {
                    content: "\E899";
                }
            }
        }
        &.unlock {
            &::before {
                content: "\E899";
            }
            &:hover {
                &::before {
                    content: "\E898";
                }
            }
        }
    }
    ul {
        padding: 5px 0 0;
        margin: 0;
        min-width: 200px;
        li {
            cursor: pointer;
            &:hover {
                background: $light-hover-color;
            }
            span {
                font-family: $header-font;
                font-size: 11px;
                text-transform: uppercase;
                vertical-align: top;
                line-height: 40px;
            }
        }
    }
}

.smash-panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

.has-sidebar {
    .smash-panel {
        left: 40px;
    }
}

.smash-input, .smash-select {
    margin-top: 18px;
    background: #fff;
    border: 1px solid #aaa;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    height: 30px;

    input {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: normal;
        background: 0;
        border: none;
        line-height: 18px;
        margin: 0;
        padding: 6px 10px;
    }

    select {
        display: none;
    }

    label {
        position: absolute;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 13px;
        top: 8px;
        left: 12px;
        color: rgba(0,0,0,0);
        visibility: hidden;
        transition: all 0.2s;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);

        &.show {
            visibility: visible;
            font-size: 11px;
            top: -16px;
            left: 4px;
            color: rgba(0,0,0,0.3);
        }
    }
}

.smash-select {
    &:after {
        font-family: "Material Icons";
        font-size: 16px;
        color: #999;
        content: "\E313";
        position: absolute;
        right: 8px;
        top: 8px;
    }

    ul {
        position: absolute;
        top: 30px;
        left: -1px;
        width: 100%;
        border: 1px solid #aaa;
        background: #fff;
        box-shadow: 0 3px 5px -2px rgba(0,0,0,0.2);
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;

        li {
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 13px;
            padding: 8px 10px;
            color: #999;
            cursor: pointer;

            &:hover {
                color: #333;
                background: $light-hover-color;
            }
        }
    }

    &.is-focussed {
        ul {
            display: block;
        }
    }
}
