.smash-pagination {
    padding: 5px;
    a {
        font-family: $font;
        font-size: $font-size - 2px;
        text-decoration: none;
        color: #666;
        padding: 3px 6px;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        border-radius: 2px;
        &:hover {
            color: #000;
        }
        i {
            font-size: $font-size + 2px;
        }
        &.active {
            background: $primary-color;
            color: $colored-button-color-hover;
            font-weight: bold;
        }
    }
}
