table {
    font-family: $font;
    font-size: $font-size;
    border-collapse: collapse;
    background: #fff;
    border: 1px solid #aaa;

    tr {
        border-bottom: 1px solid #aaa;
        &:last-child {
            border-bottom: none;
        }
    }

    thead tr:last-child {
        border-bottom: 1px solid #aaa;
    }

    td, th {
        padding: 7px 7px 9px;
        &:first-child {
            padding-left: 15px;
        }
        &:last-child {
            padding-right: 15px;
        }
        &.numeric {
            text-align: right;
        }
    }

    th {
        text-align: left;
    }

    &.clickable {
        tbody {
            tr {
                &:hover {
                    background: $light-hover-color;
                    cursor: pointer;
                }
                 &.disabled:hover {
                    background: none;
                    cursor: default;
                }
            }
        }
    }
}
