.smash-tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .smash-tabs {
        display: table;
        table-layout: fixed;
        width: 100%;

        .smash-tab {
            position: relative;
            display: table-cell;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: none;
            padding: 0 14px 0 10px;
            line-height: 28px;
            border-bottom: $border;
            border-right: $border;
            font-family: $font;
            font-size: $font-size - 1px;
            cursor: pointer;

            &.active {
                color: #fff;
                background: #aaa;
                text-shadow: 0 1px 1px rgba(0,0,0,0.5);
                font-weight: bold;
            }

            i {
                position: absolute;
                font-size: 12px;
                top: 8px;
                right: 4px;
                @include opacity(0.5);
                &:hover {
                    @include opacity(1);
                }
            }
        }
    }
    .smash-panes {
        position: absolute;
        top: 29px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
