$background-color: #293142;
$icon-color: #293142;
$workspace-color: #F6F6F6;

$primary-color: #0099FF;//rgb(255, 193, 7);
$colored-button-color-hover: #fff;
$colored-button-color: rgba(255,255,255,0.8);

$header-height: 40px;

$font: 'Roboto', sans-serif;
$font-size: 13px;

$light-hover-color: rgba(0,0,0,0.05);

$border: 1px solid #aaa;

$light-shadow: 0 3px 5px -2px rgba(0,0,0,0.2);
