$background-color: #293142;
$icon-color: #293142;
$workspace-color: #F6F6F6;

$highlight-color: rgb(255, 193, 7);

$header-height: 40px;
$header-font: 'Roboto', sans-serif;

$light-hover-color: rgba(0,0,0,0.05);
