$background-color: #293142;
$icon-color: #293142;
$workspace-color: #F6F6F6;

$highlight-color: rgb(255, 193, 7);

$header-height: 40px;

$font: 'Roboto', sans-serif;
$font-size: 13px;

$light-hover-color: rgba(0,0,0,0.05);

$border: 1px solid #aaa;
